@model WinWin.DataLayer.DTOS.DeleteBlogGroupViewModel

@{
    ViewData["Title"] = $"حذف گروه {Model.BlogGroupName}";
    Layout = "~/Views/Shared/AdminProfile/AdminProfileLayout.cshtml";
}
<h3>آیا از حذف گروه <span>@Model.BlogGroupName</span> مطمئن هستید؟</h3>
<a id="DeleteBlogGroup" onclick="deleteBlogGroup(this.id)" class="btn btn-sm btn-primary">بله</a>
<a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-sm btn-danger">بازگشت</a>



<script>
        function DeleteBlogGroup(id) {
        return new Promise((resolve, reject) => {
            $.get("/Admin/BlogGroups/DeleteBlogGroup/" + id, function(data) {
                resolve(data);
            }).fail(function(error) {
                reject("متاسفانه یک خطا رخ داد :" + error);
            });
        });
    }
      
</script>