<section id="AboutUs" class="py-5 section">
    <div class="container">
        <h2 class="bordered-heading fw-bold text-center mb-5">درباره ما</h2>
        <div class="row align-items-center">
            <div class="col-md-4">
                <img src="/MainLayout/assets/images/3.jpg" alt="درباره ما" class="w-100 h-100 rounded-2">
            </div>
            <div class="col-md-8 mt-4 mt-md-0 text-light">
                <h3 class="fw-bold mb-4">سمرو چیست؟</h3>
                <p class="lead">
                    سمرو، سامانه مدیریت رویدادهای ورزشی، با هدف ارتقاء کیفیت برگزاری مسابقات و تسهیل فرآیندهای مدیریتی در دنیای ورزش ایجاد شده است. ما در سمرو باور داریم که نظم، شفافیت و هوشمندی، زیربنای موفقیت هر رویداد ورزشی است.
                </p>
                <p>
                    با اتکا به فناوری‌های روز و تجربهٔ جامعهٔ ورزشی، سمرو امکاناتی پیشرفته مانند کاربری آسان، برنامه‌ریزی خودکار، ثبت‌نام آنلاین، مدیریت نتایج زنده، ثبت رکوردها و رنکینگ، و ایجاد سیستم حرفه‌ای داوری آنلاین را در اختیار مدیران ورزشی و ورزشکاران قرار می‌دهد. ما با ایجاد امنیت بالا در نگهداری اطلاعات، شفافیت کامل در فرآیند برگزاری رویدادها و پشتیبانی قوی و مستمر، تلاش می‌کنیم تجربه‌ای مطمئن، ساده و حرفه‌ای برای کاربران خود رقم بزنیم.
                </p>
                <p>
                    سمرو فقط یک سامانه نیست؛ یک سکوی پرتاب برای رویدادهای ورزشی با کیفیت بالاتر، مدیریت هوشمندانه‌تر و تجربه‌ای بی‌نقص‌تر است. در سمرو، ما همراه شما هستیم تا هر رویداد ورزشی، به یک موفقیت به‌یادماندنی تبدیل شود.
                </p>
                <a href="/register" class="btn btn-primary mt-3">ثبت نام کنید</a>
            </div>
        </div>
    </div>
</section>