@model int
<section id="CounterSection" class="py-5 bg-light section">
    <div class="container">
        <div class="d-flex justify-content-lg-center">
            <h2 class="bordered-heading fw-bold text-dark text-center"> از همراهی شما خرسندیم </h2>
        </div>
        <div class="row text-center">
            <div class="col-6 col-md-3 mb-5">
                <div class="counter-item">
                    <h3 class="counter-number" data-target="150">0</h3>
                    <p class="text-muted">
                        پروژه
                        <i class="fas fa-check-circle icon-right"></i>
                    </p>
                </div>
            </div>
            <div class="col-6 col-md-3 mb-5">
                <div class="counter-item">
                    <h3 class="counter-number" data-target="@Model">@Model</h3>
                    <p class="text-muted">
                        مشتری راضی
                        <i class="fas fa-smile-beam icon-right"></i>
                    </p>
                </div>
            </div>
            <div class="col-6 col-md-3 mb-5">
                <div class="counter-item">
                    <h3 class="counter-number" data-target="25">0</h3>
                    <p class="text-muted">
                        جوایز
                        <i class="fas fa-trophy icon-right"></i>
                    </p>
                </div>
            </div>
            <div class="col-6 col-md-3 mb-5">
                <div class="counter-item">
                    <h3 class="counter-number" data-target="98">0</h3>
                    <p class="text-muted">
                        رضایت کاربران
                        <i class="fas fa-heart icon-right"></i>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>